.nav{

}

.jumbotron{
	background: -webkit-linear-gradient(left, rgb(87, 113, 114) 0%, rgba(58,76,77,1.00) 100%);
background: -o-linear-gradient(left, rgb(87, 113, 114) 0%, rgba(58,76,77,1.00) 100%);
background: linear-gradient(to right, rgb(87, 113, 114) 0%, rgba(58,76,77,1.00) 100%);
	color: aliceblue;
	text-align: center !important;
	width: 100%;
}

.row{

	 
}

.nav.mb-2{
	
	
}
@media only screen and (max-width: 1980px) {
	.nav.mb-2{margin-left: 40%;}
	
}
@media only screen and (max-width: 500px) {
	.nav.mb-2{margin-left: 20%;}
}
.btn.btn-dark{
	border-radius: 5px;
}
.btn.btn-dark:hover{
	background-color: white;
	color:black
}